{% extends 'base.html' %}

{% block title %} 
    Add New Member
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-light"> Add New Member </h1>
        <form action="/members/add/" method="post">
            {% csrf_token %}

            <div class="text-light mt-3">
                <label for="firstname" class="form-label">Firstname:</label>
                <input type="firstname" class="form-control" name="firstname" placeholder="Enter firstname" name="firstname">
              </div>
              <div class="mb-3 mt-3">
                <label for="lastname" class="form-label">Lastname:</label>
                <input type="lastname" class="form-control" name="lastname" placeholder="Enter lastname" name="lastname">
              </div>
              <div class="mb-3 mt-3">
                <label for="phone" class="form-label">Phone:</label>
                <input type="phone" class="form-control" name="phone" placeholder="Phone" name="phone">
              </div>
              <div class="mb-3 mt-3">
                <label for="joined_date" class="form-label">Joined date:</label>
                <input type="joined" class="form-control" name="joined_date" placeholder="Joined date" name="joined_date">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}