{% extends 'base.html' %}

{% block title %} 
    Edit {{ member.firstname }} {{ member.lastname }}
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-light"> Edit Member </h1>
        <form action="/members/edit/{{ member.id }}" method="post">
            {% csrf_token %}

            <div class="text-light mt-3">
                <label for="firstname" class="form-label">Firstname:</label>
                <input type="firstname" class="form-control" id="firstname" name="firstname" value="{{ member.firstname }}">
              </div>
              <div class="mb-3 mt-3">
                <label for="lastname" class="form-label">Lastname:</label>
                <input type="lastname" class="form-control" id="lastname" name="lastname" value="{{ member.lastname }}">
              </div>
              <div class="mb-3 mt-3">
                <label for="phone" class="form-label">Phone:</label>
                <input type="phone" class="form-control" id="phone" name="phone" value="{{ member.phone }}">
              </div>
              <div class="mb-3 mt-3">
                <label for="joined_date" class="form-label">Joined date:</label>
                <input type="joined" class="form-control" id="joined_date" name="joined_date" value="{{ member.joined_date|date:'Y-m-d' }}">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}